input { 

  -webkit-appearance : none;
  
  -moz-appearance:none;
  
  appearance:none;
  
  }

body {
  transition: all 1s;
  background: linear-gradient(aquamarine, rgb(208, 234, 247));
  background-repeat: no-repeat;
  height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.night {
  transition: all 1s;
  background: linear-gradient(rgb(44, 26, 147),rgb(50, 30, 79));
  background-repeat: no-repeat;
  height: 100%;
    
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header {
  background-color: blueviolet;
  
  border-radius: 10px;
  display: inline-block;
  padding-right: 10px;  
  padding-left: 10px;
  font-style: italic;
  
      height: 100%;
      background: linear-gradient(45deg,rgb(100, 216, 170),rgb(64, 17, 218),purple,blueviolet,rgb(95, 57, 221),blue,rgb(22, 105, 140));
      background-size: 1000% 100%; 
      animation: gradient 16s linear infinite;
      animation-direction: alternate;
}
    @keyframes gradient {
      0% {background-position: 0%}
      100% {background-position: 100%}
    }
  


header h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

header a {
  color: white;
  font-weight: 800; /*a태그에만 적용*/
  line-height: 0.1;
  font-family: Arial, "Open Sans", "돋움", dotum, sans-serif;

}

nav {
  background-color:rgb(72, 134, 184,0.8);
  display: block;
  border-radius: 10px;
  height: 100%;
  background: linear-gradient(90deg,rgb(100, 216, 170),rgb(162, 195, 204),rgb(174, 176, 220),rgb(180, 228, 219),rgb(176, 217, 226),rgb(171, 240, 204),rgb(180, 232, 240));
  background-size: 1000% 100%; 
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}

  
}

nav ul {
  list-style-type: none;
  display: flex;
  padding-left: 20px;

}

nav ul li {
  margin: 10px;
}

article  {
  margin: 20px;
  border-radius: 10px;
  height: 300px;
  background-color: rgb(255, 255, 255,0.5);
  padding: 10px;
  
}

article li {
 
  background-color:lightsteelblue;
  margin: 3px;
  display: inline-block;
}

article li a {
  color: navy;
}

/* .CRUD {
  border: white 1px solid;
} */

.CRUD *{
  background-color:rgb(95, 165, 167,0.9);
  color: white; 
  font-size: 20px;
  border-radius: 10px;
  padding: 3px 7px;
  margin: 5px;
  display: inline-block;
  
}
.CRUD :hover{
  color:khaki;
  transition: all 0.5s;
}

.CRUD form input {
  margin: 0%;
  border: none;
  padding-left: 3px;
  padding-right: 3px;
  
}



.form {
  background-color:rgba(246, 253, 253, 0.7);
  color: white; 
  font-size: 20px;
  border-radius: 10px;
  padding: 3px 5px;
  margin: 5px;
}

.container {
  border: 1px solid white;
}



#create:hover{
  color:khaki;
  transition: all 0.5s;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  color:khaki;
  transition: all 0.5s;
}

#currentTime{
  background-color:rgb(144, 50, 231,0.9);
  color: rgb(231, 228, 141);
  display: inline-block;
  position: absolute ;
  right: 10px; top: 10px; 
  padding: 5PX;
  border-radius: 5PX;
  font-weight:bold;
  
}

#currentTime #time {
  color:white;
  font-weight: lighter;
}

#nightDay {
  display: inline-block;
  background-color: blueviolet;
  position: absolute;
  right: 0px;
  top: 25px;
  border: 0;
  color: white;
  font-size: medium;
  border-radius: 5px;
}

footer {
  position:absolute;
  
  bottom:0px;
  width: 100%;
  height: 40px;
  background-color: rgb(127, 202, 255,0.1);
  border-radius: 10px;
  text-align:right;
  color: lightcoral;
  right: 10px;
}